<div id="header-region"></div>
<div id="leftPane-region"></div>
<div id="main-region"></div>
<div id="rightPane-region"></div>

<%= javascript_tag do %>
  $(function() {
  	Recall.start();
  });
<% end %>